{% extends 'main/layout.html' %}

{% block title %} О нас {% endblock %}

{% block content %}
    <header>
        <h1> О нас </h1>
    </header>
    <div class="container">
        <p>
        Comit - это профессиональный сервис, который предоставляет полный спектр услуг по установке, замене и ремонту автомобильных шин.
        Мы являемся официальным дилером ведущих мировых производителей шин, таких как Michelin, Continental, Pirelli, Bridgestone и многих других.
        Наша компания имеет богатый опыт работы на рынке автомобильных шин, что позволяет нам предложить своим клиентам высококачественные продукты и услуги.
        Мы заботимся о безопасности наших клиентов и всегда готовы помочь в выборе наиболее подходящих шин для каждого типа автомобиля.
        </p>
    </div>
{% include 'main/test.html' %}
{% endblock %}
