{% extends 'main/layout.html' %}

{% block title %} Контакты и адрес {% endblock %}

{% block content %}
    <header>
        <h1> Контакты и адрес </h1>
    </header>
    <div class="container">
        <p>
            Рыскулова, 57В
            Пн-Пт : с 09:00 до 18:00
            Сб: 09:00 до 14:00
            Вс: выходной
        </p>
        <p>
            Comit Байтурсынова
            Байтурсынова, 131
            Пн-Пт: с 09:00 до 19:00
            Сб-Вс: с 09:00 до 19:00
        </p>
        <p>
            Телефон: +7 707 707 7210
            7210 (c мобильного бесплатно)
        </p>
        <p>
            Реквизиты
            ТОО "СВС-ТРАНС"
            БИН: 040840000570
            ИИК: KZ38601A861004121231
            АО «Народный Банк Казахстана»
            БИК: HSBKKZKX
        </p>
    </div>
{% include 'main/test.html' %}
{% endblock %}
