{% extends 'main/layout.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="features">
    <h1> {{ title }} </h1>
        <p>
            Comit - Сеть Сервисно-шинных центров №1 в Алматы. Продажа и доставка шин, дисков, аксессуаров и запчастей по всему Казахстану.
            В наличие топовые мировые бренды: RoadX, Bridgestone, Firestone, Continental, Nokian, Yokohama, Pirelli, Matador, Kama и многие другие.
            Продажа осуществляется через интернет-магазин и наши филиалы, а доставка по городу Алматы и всему Казахстану. Вы можете выбрать зимние, всесезонные или летние шины.
            Мы предлагаем покрышки для внедорожников, легковых и грузовых автомобилей. Подбирайте колеса по размеру, типу, сезону и другим параметрам.
        </p>
        <button class="btn btn-warning"> На страницу о нас </button>
</div>
<!--{% include 'main/test.html' %}-->
{% endblock %}






